# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class

# VS Code
.vscode/

# IntelliJ
.idea/
*.iml

# Configurações e credenciais
.env

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db